<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}"/>
</head>
<body>
	<div class="container">
		
		
		<img src="" class="profile" alt="" th:src="@{/images/profile.jpg}"/>
		<h1>Adding CSS, JavaScript and image in thymeLeaf</h1>
		<p>Lorem ipsum  v  sdolor sit amet, consectetur adipisicing elit. Ullam nam quod voluptate fugit quaerat vitae. Officia voluptatibus odio reiciendis saepe esse voluptatum fuga enim aperiam quae repellat rem itaque qui?</p>
		
		
		<script src="" th:src="@{/js/myjs.js}"></script>
	</div>
</body>
</html>